Package: iceweasel
Version: 1:0.0.1
Section: web
Priority: optional
Architecture: all
Depends: firefox
Provides:
Suggests:
Conflicts:
Maintainer: Alexander Kudrevatykh <alexander@kudrevatykh.com>
Description: Provides iceweasel for gnome
